/*header bar*/
#header {
  background-color: #1A1A1A;
  background-image: url("../images/backgrounds/header_background.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  min-height: 100%;
}
#header_text {
  font-size: 50px;
  color: white;
  font-family: codec-regular;
  text-align: center;
  line-height: 50px;
  padding-bottom: 30px;
}
#self_port {
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*body section*/
#body_info {
  background-color: #3DDEB8;
}
