/*navigation bar*/
#nav_line {
  background-color: #1a1a1a;
  overflow: hidden;
  z-index:1;
}
#icon_nav {
  font-size: 25px;
  letter-spacing: 10px;
  font-family: codec-extra-bold;
}
.nav_right {
  float:right;
  text-align:right;
}
.nav_page {
  font-size: 25px;
  font-family: codec-bold;
  background-color: #1a1a1a;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
  padding: 15px;
  color: white;
}
.nav_page:hover {
  font-family: codec-bold;
  color: #3DDEB8;
  text-decoration: none;
}
